@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bai+Jamjuree:wght@300&family=Maven+Pro:wght@500&family=Permanent+Marker&family=Roboto&family=Teko:wght@600;700&display=swap");
/* Variables */
.boton, .botonera-index a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #042739;
  box-shadow: -1px 1px 7px 0px #000000;
  padding: 10px;
  border-radius: 3px;
  font-size: "Roboto", sans-serif;
}

/*Index*/
/*Navbar*/
.bg-color {
  background-color: #042739;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* Estilos main */
.index {
  background-color: #eeeeee;
}

.img-index {
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row-margin {
  margin: 10px;
}

article {
  height: auto;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 50px;
}
article h1 {
  font-family: "Maven Pro", sans-serif;
  padding: 10px;
  padding-top: 40px;
  animation-duration: 10s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
article p {
  font-size: 15px;
  padding: 10px;
  padding-top: 10px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.botonera-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
.botonera-index a:hover {
  background-color: #0077ff;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Footer */
footer {
  background-color: #042739;
  height: 70px;
}

.styles-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
}
.styles-footer a {
  color: rgba(146, 146, 146, 0.8549019608);
}
.styles-footer a:hover {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

/* Estilos WE */
.row-info {
  height: 100%;
}

.info {
  height: 100%;
}

.info-trayectoria {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.info-valores {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.info-vision {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.info-mision {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.box-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #042739;
  color: rgba(255, 255, 255, 0.7450980392);
  margin: 20px;
  border-radius: 20px;
}
.box-nosotros h2 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
.box-nosotros p {
  display: flex;
  padding: 15px;
}

.row-info {
  height: 100%;
  padding-top: 50px;
}

article {
  margin: 0;
  border: 0;
}

/* Vista Servicios */
.servicios-row {
  height: 100%;
  margin: 30px;
}

.servicios-col {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.obras {
  height: auto;
  padding: 10px;
}

.titulo-obras {
  font-size: 160px;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  justify-content: center;
}

.styles-carousel {
  display: flex;
  justify-content: center;
}

.titulo-contacto {
  align-content: center;
  align-items: center;
  font-size: 70px;
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.contact-info a {
  text-decoration: none;
  font-size: 22px;
}

.botonera-form {
  display: flex;
  flex: row;
  justify-content: space-around;
  padding-top: 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #042739;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  background-color: #042739;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0077ff;
}

input[type=reset]:hover {
  background-color: #0077ff;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}

/*Media queries*/
@media (min-width: 768px) {
  .nav-position {
    display: flex;
    justify-content: end;
  }
}
@media (min-width: 850px) {
  .box-nosotros:hover {
    background-color: #ffffff;
    color: #042739;
  }
}
@media (min-width: 768) {
  .styles-footer {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
